@font-face {
    font-family: 'TitilliumWeb-Bold';    
    src: url('assets/font/Livvic-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;   
}
@font-face {
    font-family: 'TitilliumWeb-Regular';    
    src: url('assets/font/Livvic-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;   
}